{% extends 'emeraldApp/main.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<section>
<div>
    {% for announcement in announcement %}
    <div>{{announcement.content}}</div>
        <div class="image overflow-hidden">
            <img class="h-auto w-full mx-auto" style="width:10rem;height:10rem;" src="{{announcement.picture.url}}" alt="Profile photo" />
        </div>
    </div>
    {% endfor %}
    <!-- {% for announcement in IWDCAnn %}
    <div>
        <div>{{announcement.content}}</div>
        <div class="image overflow-hidden">
            <img class="h-auto w-full mx-auto" style="width:10rem;height:10rem;" src="{{announcement.picture.url}}" alt="Profile photo" />
          </div>
    </div>
    {% endfor %}

    {% for announcement in AIAnn %}
    <div>
        <div>{{announcement.content}}</div>
        <div class="image overflow-hidden">
            <img class="h-auto w-full mx-auto" style="width:10rem;height:10rem;" src="{{announcement.picture.url}}" alt="Profile photo" />
          </div>
    </div>
    {% endfor %}

    {% for announcement in CDAnn %}
    <div>
        <div>{{announcement.content}}</div>
        <div class="image overflow-hidden">
            <img class="h-auto w-full mx-auto" style="width:10rem;height:10rem;" src="{{announcement.picture.url}}" alt="Profile photo" />
          </div>
    </div>
    {% endfor %}

    {% for announcement in CDAnn %}
    <div>
        <div>{{announcement.content}}</div>
        <div class="image overflow-hidden">
            <img class="h-auto w-full mx-auto" style="width:10rem;height:10rem;" src="{{announcement.picture.url}}" alt="Profile photo" />
          </div>
    </div>
    {% endfor %}

    {% for announcement in COAnn %}
    <div>
        <div>{{announcement.content}}</div>
        <div class="image overflow-hidden">
            <img class="h-auto w-full mx-auto" style="width:10rem;height:10rem;" src="{{announcement.picture.url}}" alt="Profile photo" />
          </div>
    </div>
    {% endfor %}

    {% for announcement in MCAnn %}
    <div>
        <div>{{announcement.content}}</div>
        <div class="image overflow-hidden">
            <img class="h-auto w-full mx-auto" style="width:10rem;height:10rem;" src="{{announcement.picture.url}}" alt="Profile photo" />
          </div>
    </div>
    {% endfor %} -->
</section>

{% endblock %}